body {
  font-family: sans-serif;
  background-color: #1d150f;
  color: #fff;
  line-height: 1.5;
}

header {
  background-color: #2a1d14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
